.cls-1,
.cls-17{fill:none;}
.cls-2{fill:#29abe2;}
.cls-3{fill:#fff;}
.cls-11,
.cls-4{fill:#333;}
.cls-10,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9{opacity:0
	.44;}
.cls-14,
.cls-5{fill:#4d4d4d;}
.cls-12,
.cls-6{fill:#666;}
.cls-16,
.cls-7{fill:gray;}
.cls-13,
.cls-8{fill:#999;}
.cls-15,
.cls-9{fill:#b3b3b3;}
.cls-10{fill:#e6e6e6;}
.cls-17{stroke:#333;stroke-miterlimit:10;stroke-width:2px;}
.cls-18{clip-path:url(#clip-path);}
.cls-19{clip-path:url(#clip-path-2);}
.cls-20{clip-path:url(#clip-path-3);}
.cls-21{clip-path:url(#clip-path-4);}
.cls-22{clip-path:url(#clip-path-5);}
.cls-23{clip-path:url(#clip-path-6);}
.cls-24{clip-path:url(#clip-path-7);}
.cls-25{clip-path:url(#clip-path-8);}
.cls-26{clip-path:url(#clip-path-9);}
.cls-27{clip-path:url(#clip-path-10);}
.cls-28{clip-path:url(#clip-path-11);}
.cls-29{clip-path:url(#clip-path-12);}
.cls-30{clip-path:url(#clip-path-13);}
.cls-31{clip-path:url(#clip-path-14);}
.cls-32{clip-path:url(#clip-path-15);}
.cls-33{clip-path:url(#clip-path-16);}
.cls-34{clip-path:url(#clip-path-17);}
.cls-35{clip-path:url(#clip-path-18);}
.cls-36{clip-path:url(#clip-path-19);}
.cls-37{clip-path:url(#clip-path-20);}
.cls-38{clip-path:url(#clip-path-21);}
.cls-39{clip-path:url(#clip-path-22);}
.cls-40{clip-path:url(#clip-path-23);}
.cls-41{clip-path:url(#clip-path-24);}
.cls-42{clip-path:url(#clip-path-25);}
.cls-43{clip-path:url(#clip-path-26);}
.cls-44{clip-path:url(#clip-path-27);}
.cls-45{clip-path:url(#clip-path-28);}
.cls-46{clip-path:url(#clip-path-29);}
.cls-47{clip-path:url(#clip-path-30);}
.cls-48{clip-path:url(#clip-path-31);}
.cls-49{clip-path:url(#clip-path-32);}
.cls-50{clip-path:url(#clip-path-33);}
.cls-51{clip-path:url(#clip-path-34);}
.cls-52{clip-path:url(#clip-path-35);}
.cls-53{clip-path:url(#clip-path-36);}
.cls-54{clip-path:url(#clip-path-37);}
.cls-55{clip-path:url(#clip-path-38);}
.cls-56{clip-path:url(#clip-path-39);}
.cls-57{clip-path:url(#clip-path-40);}
.cls-58{clip-path:url(#clip-path-41);}
.cls-59{clip-path:url(#clip-path-42);}
.cls-60{clip-path:url(#clip-path-43);}
.cls-61{clip-path:url(#clip-path-44);}
.cls-62{clip-path:url(#clip-path-45);}
.cls-63{clip-path:url(#clip-path-46);}
.cls-64{clip-path:url(#clip-path-47);}
.cls-65{clip-path:url(#clip-path-48);}
.cls-66{clip-path:url(#clip-path-49);}
.cls-67{clip-path:url(#clip-path-50);}
.cls-68{clip-path:url(#clip-path-51);}
.cls-69{clip-path:url(#clip-path-52);}
.cls-70{clip-path:url(#clip-path-53);}
.cls-71{clip-path:url(#clip-path-54);}
.cls-72{clip-path:url(#clip-path-55);}
.cls-73{clip-path:url(#clip-path-56);}
.cls-74{clip-path:url(#clip-path-57);}
.cls-75{clip-path:url(#clip-path-58);}
