.cls-11{fill:url(#radial-gradient1);}
.cls-12{fill:url(#radial-gradient2);}
.cls-13{fill:url(#radial-gradient3);}
.cls-14{fill:url(#radial-gradient4);}
.cls-15{fill:url(#radial-gradient5);}
.cloud{fill:#fff;}
.constellation1,.constellation2{fill:none;stroke-miterlimit:10;}
.constellation1{stroke:#fff;}
.constellation2{stroke:#f2f2f2;}
.st0{fill:none;stroke:#0000FF;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:#0000FF;}
.st2{font-family:'MyriadPro-Regular';}
.st3{font-size:18px;}
.st4{display:inline;}
.st5{display:inline;}
.st6{fill:#00FFFF;}
.st7{font-size:3px;}
.st8{font-size:4px;}
.st9{font-size:8px;}
.st10{font-size:12px;}
.st11{font-size:16px;}
.st12{font-size:24px;}
.st13{fill:none;stroke:#00FFFF;stroke-width:2;stroke-miterlimit:10;}
.st14{font-size:10px;}
.st15{font-size:7px;}
.st16{font-size:6px;}
.st17{fill:none;stroke:#0000FF;stroke-miterlimit:10;}
.st18{letter-spacing:26;}
.st19{font-size:2px;}
.st20{letter-spacing:31;}
.st21{letter-spacing:35;}
/*.cls-2{fill:#29abe2;}
.cls-3{fill:#333;}
.cls-4{fill:#666;}
.cls-5{fill:#999;}
.cls-6{fill:#4d4d4d;}
.cls-7{fill:#b3b3b3;}
.cls-8{fill:gray;}
.cls-9{fill:#fff;}
.cls-10{fill:none;stroke:#333;stroke-miterlimit:10;stroke-width:2px;}
		*/

svg { 
	margin: auto;
}