#sky{
	display: none;
}
body{
	background: #29abe2;
}

.newRoads-1{fill:#999;}
.newRoads-2{fill:#fff;}
.newRoads-3{fill:#666;}

.cls-11{fill:url(#radial-gradient1);}
.cls-12{fill:url(#radial-gradient2);}
.cls-13{fill:url(#radial-gradient3);}
.cls-14{fill:url(#radial-gradient4);}
.cls-15{fill:url(#radial-gradient5);}
.cloud{fill:#fff;}
.constellation1,.constellation2{fill:none;stroke-miterlimit:10;}
.constellation1{stroke:#fff;}
.constellation2{stroke:#f2f2f2;}
.st0{fill:none;stroke:#0000FF;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:#0000FF;}
.st2{font-family:'MyriadPro-Regular';}
.st3{font-size:18px;}
.st4{display:inline;}
.st5{display:inline;}
.st6{fill:#00FFFF;}
.st7{font-size:3px;}
.st8{font-size:4px;}
.st9{font-size:8px;}
.st10{font-size:12px;}
.st11{font-size:16px;}
.st12{font-size:34px;}
.st13{fill:none;stroke:#00FFFF;stroke-width:2;stroke-miterlimit:10;}
.st14{font-size:10px;}
.st15{font-size:7px;}
.st16{font-size:6px;}
.st17{fill:none;stroke:#0000FF;stroke-miterlimit:10;}
.st18{letter-spacing:26;}
.st19{font-size:2px;}
.st20{letter-spacing:31;}
.st21{letter-spacing:35;}
/*.cls-2{fill:#29abe2;}
.cls-3{fill:#333;}
.cls-4{fill:#666;}
.cls-5{fill:#999;}
.cls-6{fill:#4d4d4d;}
.cls-7{fill:#b3b3b3;}
.cls-8{fill:gray;}
.cls-9{fill:#fff;}
.cls-10{fill:none;stroke:#333;stroke-miterlimit:10;stroke-width:2px;}
		*/
/*.skyline_Tdot-1,
.skyline_Tdot-10,
.skyline_Tdot-11,
.skyline_Tdot-9{fill:none;}
.skyline_Tdot-2,
.skyline_Tdot-3,
.skyline_Tdot-4,
.skyline_Tdot-5,
.skyline_Tdot-6,
.skyline_Tdot-7,
.skyline_Tdot-8{fill: #FFFFFF;}
.skyline_Tdot-2,
.skyline_Tdot-4{opacity: 1;fill: #989898;}*/

.skyline_Tdot-10,
.skyline_Tdot-11,
.skyline_Tdot-4,
.skyline_Tdot-5,
.skyline_Tdot-6,
.skyline_Tdot-7,
.skyline_Tdot-8,
.skyline_Tdot-9{stroke: #000000;stroke-miterlimit:10;}
.skyline_Tdot-4{stroke-width:0.25px;}
.skyline_Tdot-5{stroke-width:5px;}
.skyline_Tdot-6{stroke-width:2px;}
.skyline_Tdot-7{stroke-width:3px;}
.skyline_Tdot-11,
.skyline_Tdot-8{stroke-width:4px;}
.skyline_Tdot-10{stroke-width:6px;}
.skyline_Tdot-12{clip-path:url(#clip-path);}
.skyline_Tdot-13{clip-path:url(#clip-path-2);}
.skyline_Tdot-14{clip-path:url(#clip-path-3);}
.skyline_Tdot-15{clip-path:url(#clip-path-4);}
.roadDataMask{fill: #676767;}

.roadDataBranch{fill: none;stroke-miterlimit:10;}

.data-constellations1,
.data-constellations13{font-size:14px;}
.data-constellations1,
.data-constellations12{font-family:Myriad Pro;}
.data-constellations2{letter-spacing:24px;}
.data-constellations3{letter-spacing:14px;}
.data-constellations4{letter-spacing:11px;}
.data-constellations5{letter-spacing:25px;}
.data-constellations6{letter-spacing:1px;}
.data-constellations7{white-space:pre;}
.data-constellations8{letter-spacing:-1px;}
.data-constellations9{letter-spacing:10px;}
.data-constellations10{letter-spacing:20px;}
.data-constellations11{letter-spacing:23px;}
.data-constellations12{font-size:18px;}
.data-constellations14{letter-spacing:30px;}
.data-constellations15{letter-spacing:6px;}
.data-constellations16{letter-spacing:19px;}
.data-constellations17{letter-spacing:-2px;}
.data-constellations18{letter-spacing:7px;}
.data-constellations19{letter-spacing:12px;}
.data-constellations20{letter-spacing:17px;}
.data-constellations21{letter-spacing:21px;}
.data-constellations22{letter-spacing:18px;}
.data-constellations23{letter-spacing:8px;}
.data-constellations24{letter-spacing:26px;}
.data-constellations25{letter-spacing:13px;}
.data-constellations26{letter-spacing:4px;}
.data-constellations27{letter-spacing:16px;}
.data-constellations28{letter-spacing:5px;}
.data-constellations29{letter-spacing:9px;}
.data-constellations30{letter-spacing:15px;}
.data-constellations31{letter-spacing:29px;}

.polesWires1{fill:#ccc;}
.polesWires2{fill:#999;}
.polesWires3{fill:#4d4d4d;}
.polesWires4{fill:#666;}
.polesWires5{fill:#333;}
.polesWires6{fill:gray;}
.polesWires7{fill:none;stroke-miterlimit:10;stroke-width:2px;}

.circuits-1,
.circuits-11,
.circuits-12,
.circuits-2,
.circuits-3,
.circuits-4,
.circuits-5,
.circuits-9{fill:none;}

.circuits-1,
.circuits-11,
.circuits-12,
.circuits-2,
.circuits-3,
.circuits-4,
.circuits-5,
.circuits-8,
.circuits-9{stroke-miterlimit:10;}
/*.circuits-1{stroke:#f15a24;}
.circuits-2{stroke:red;}
.circuits-3{stroke:#f0f;}
.circuits-4{stroke:#ff0;}
.circuits-5{stroke:lime;}
.circuits-9{stroke:#29abe2;}
.circuits-11{stroke:#93278f;}
.circuits-12{stroke:blue;}
.circuits-13{opacity:0.61;}*/
.circuits-8{
	stroke-width:3px;
	transform-origin: 50% 50%;

}


.polesData-1{fill:none;stroke-miterlimit:10;}

.constellationData-1{
	fill:#0b5f63;
	stroke-width:3px;
}
.logoStyles-1{fill:none;stroke:#020e26;stroke-linejoin:round;}
.logoStyles-2{fill:#003372;}
.logoStyles-3{fill:#09e9e1;}
.logoStyles-4{fill:#079bd9;}
.logoStyles-5{fill:#020e26;}
.logoStyles-6{fill:#046ff2;}


#theLogo{
	display: none;
}


svg { 
	margin: auto;
}