.road-background{
	animation: fade-in-road-background 0.5s both;
}

.first-row-trees{
	fill:#b3b3b3;
	animation: fade-in-row-one 0.3s 1.5s both;
}

#first-row{
	transform: translateY(-173%);
	animation: slide-up-row-one  0.3s 1.5s both;
}



.second-row-trees{
	fill:gray;
	animation: fade-in-row-two 0.3s 1.5s both;
}

#second-row{
	transform: translateY(-93%);
	animation: slide-up-row-two  0.3s 1.8s both;
}



.third-row-trees{
	fill:#666;
	animation: fade-in-row-three 0.3s 1.5s both;
}

#third-row{
	transform: translateY(-106%);
	animation: slide-up-row-three  0.3s 2.1s both;
}

.road{
	fill:gray;
	transform-origin: 50% 50%;
	animation: slide-up-road 0.5s 0.5s both;
}



#skyline{
	transform: translateY(-106%);
}



/* DEM KEYFRAMES */

@keyframes fade-in-first-background{
	0%{
		fill: transparent;
	}
	100%{
		fill:#4d4d4d;
	}
}


@keyframes fade-in-road-background{
	0%{
		fill: transparent;
	}
	100%{
		fill:#4d4d4d;
	}
}

@keyframes slide-up-road{
	0%{
		transform: translateY(73%);

	}
	100%{
		transform: translateY(-30%);
	}
}

@keyframes slide-up-row-one{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-173%);
	}
}
@keyframes fade-in-row-one{
	0%{
		fill: transparent;
	}

	100%{
		fill:#b3b3b3;
	}
}
@keyframes slide-up-row-two{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-93%);

	}
}
@keyframes fade-in-row-two{
	0%{
		fill: transparent;
	}

	100%{
		fill:#gray;
	}
}
@keyframes slide-up-row-three{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-106%);

	}
}
@keyframes fade-in-row-three{
	0%{
		fill: transparent;
	}

	100%{
		fill:#666;
	}
}