#careers{
	padding-top: 10px;
}
#careers button {
	background-color: #0B7D7D;
	font-family:'Signika Negative';
	font-weight: 300;
	display: block;
	margin-top: 10px;
}
#careers button:focus {
	outline:none;
}
#careers h2,#careers h4 {
	font-family:'Signika Negative';
	font-weight: 300;
}
#about h1 {
	font-family:'Signika Negative';
	font-weight: 300;
}


@media(min-width:768px) {
	#careers button {
		display: inline-block;
		margin-top: 10px;

	}
}
#about{padding-bottom: 30px;}
